body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#f0f3f5;
}

.header{
    position: absolute;
    height: 9%;
    width: 100%;
}

h2{
    font-family: "Century Gothic";
    color: black;
}

a:hover{
	cursor: pointer;
	user-select: none;
}

#c
{
    font-family: "Comfortaa";
}

ul li{
    font-family: "Righteous";
}

.logo{
    position: absolute;
    width: 130px;
    top: 12px;
    left: -40px;
}

.fundo1{
    position: absolute;
    width: 700px;
    top: 150px;
    left: 300px;
}

f1{
    font-size: 1.2rem;
    font-family: "Righteous";
}

#h2{
    font-size: 2rem;
    font-family: "Comfortaa";
    font-weight: bold;
    text-align: center;
    color: #2196f3;
}

h6{
    text-align: center;
    color: black;
    font-family: "Century Gothic";
}

h4{
    text-align: center;
    color: black;
    font-family: "Century Gothic";
}

div #cr{
    font-size: 1rem;
    font-family: "Righteous";
}

.seta{
    position: fixed;
    top: 80%;
    left: 90%;
    max-width: 20%;
    max-height: 12.5%;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

.seta:hover
{
    position: fixed;
    top: 80%;
    left: 90%;
    max-width: 20%;
    max-height: 12.5%;
    cursor: pointer;
    transition: .3s;
}

#btnEntrar,#btnCadastrar{
    color: white;
    cursor: pointer;
    font-family: "Righteous";
}

.efeito {
  opacity: 1;
  transition: .2s;
}

#c
{
    font-family: "Righteous";
    text-shadow: 2px 5px 10px rgba(0,0,0, .5);
}

#cc
{
    box-shadow: 2px 5px 10px rgba(0,0,0, .5);
}

#v
{
    font-family: "Righteous";
}

#aa
{
    font-family: "Righteous";
}

#quest:focus 
{
     border-bottom: 1px solid #795548;
     box-shadow: 0 1px 0 0 #795548;
}

#name
{
    background-color: #1e88e5;
    color: white;
}

#name:hover
{
    background-color: #1976d2;
    transition: .2s;
}

#auxx
{
    width: 70%;
}

#nav
{
    background-image: linear-gradient(to left, #00ea6a, #007bd0);
}

#mo
{
    font-family: "Righteous";
}

#cp
{
    font-family: "Righteous"
}