
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#f0f3f5;
}

.header{
    position: absolute;
    height: 11%;
    width: 100%;
}

#quadro{
	  position: relative;
	  top: 50px;
}

#face{
	position: relative;
	left: 20px;
	top: 20px;
}

.nome{
	position: relative;
	left: 95px;
	top:-40px;
    width: 80px;
    font-size: 30px;
    color: #38ada9;
    font-family: "Righteous";
}

.na
{
    position: relative;
    left: 95px;
    top:-40px;
    width: 80px;
    font-size: 30px;
    color: black;
    font-family: "Righteous";  
}

ul li{
    font-family: "Righteous";
}

.logo{
    position: absolute;
    width: 130px;
    top: 12px;
    left: -40px;
}

.fundo1{
    position: absolute;
    width: 700px;
    top: 150px;
    left: 300px;
}

f1{
    font-size: 1.2rem;
    font-family: "Righteous";
}

#h2{
    font-size: 2rem;
    font-family: "Comfortaa";
    font-weight: bold;
    text-align: center;
    color: #2196f3;
}

h6{
    text-align: center;
    color: black;
    font-family: "Century Gothic";
}

h4{
    text-align: center;
    color: black;
    font-family: "Century Gothic";
}

div #cr{
    font-size: 1rem;
    font-family: "Righteous";
}

.seta{
    position: fixed;
    top: 80%;
    left: 90%;
    max-width: 20%;
    max-height: 12.5%;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

.seta:hover
{
    position: fixed;
    top: 80%;
    left: 90%;
    max-width: 20%;
    max-height: 12.5%;
    cursor: pointer;
    transition: .3s;
}

#btnEntrar,#btnCadastrar{
    color: white;
    cursor: pointer;
    font-family: "Righteous";
}

.efeito {
  opacity: 1;
  transition: .2s;
}

#c
{
    font-family: "Comfortaa";
}

#v
{
    font-family: "Righteous";
}

#set
{
    transition: .3s;
    user-select: none;
}

#set:hover
{
    color: #00b894;
    cursor: pointer;
    transition: .3s;
}

#pers
{
    font-family: 'Righteous';
    user-select: none;
}

#pergunta
{
    font-size: 30px;
    color: black;
    font-family: "Righteous";
}

#respostas
{
    font-size: 30px;
    font-family: "Righteous";
}

#name
{
    background-color: #1e88e5;
    color: white;
}

#name:hover
{
    background-color: #1976d2;
    transition: .2s;
}