@font-face{
    src: url('../Comfortaa-Bold.ttf');
    font-family: "Comfortaa";
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white;
}

.header{
    position: absolute;
    height: 11%;
    width: 100%;
}

#table{
	border: 5px solid #20cdc4;
}

table td a{
    cursor: pointer;
}

tr
{
    font-family: "Comfortaa";
    font-size: 18px;
}

.img
{
    max-width: 100%;
    height: auto;
    position: relative;
}

#v
{
    user-select: none;
}

#n{
    font-weight: bold;
    font-family: "Comfortaa";
}

#m
{
    font-weight: bold;
    font-family: "Comfortaa";
}

